In [9]:
import pandas as pd
column_names = ['Age', 
                'Gender', 
                'Education', 
                'Country', 
                'Ethnicity', 
                'Nscore', 
                'Escore', 
                'Oscore', 
                'Ascore', 
                'Cscore', 
                'Impulsive', 
                'SS', 
                'Alcohol', 
                'Amphet', 
                'Amyl', 
                'Benzos', 
                'Caff', 
                'Cannabis', 
                'Choc',
                'Coke',
                'Crack',
                'Ecstasy',
                'Heroin',
                'Ketamine',
                'Legalh',
                'LSD',
                'Meth',
                'Mushrooms',
                'Nicotine',
                'Semer',
                'VSA']

In [10]:
df = pd.read_csv(r"C:\Users\tzolz\Desktop\PythonforDA\APP\Data\drug_consumption.data", sep=',', names=column_names)
print(df.head())

       Age   Gender  Education  Country  Ethnicity   Nscore   Escore   Oscore  \
1  0.49788  0.48246   -0.05921  0.96082    0.12600  0.31287 -0.57545 -0.58331
2 -0.07854 -0.48246    1.98437  0.96082   -0.31685 -0.67825  1.93886  1.43533
3  0.49788 -0.48246   -0.05921  0.96082   -0.31685 -0.46725  0.80523 -0.84732
4 -0.95197  0.48246    1.16365  0.96082   -0.31685 -0.14882 -0.80615 -0.01928
5  0.49788  0.48246    1.98437  0.96082   -0.31685  0.73545 -1.63340 -0.45174

    Ascore   Cscore  ...  Ecstasy  Heroin Ketamine Legalh  LSD Meth Mushrooms  \
1 -0.91699 -0.00665  ...      CL0     CL0      CL0    CL0  CL0  CL0       CL0
2  0.76096 -0.14277  ...      CL4     CL0      CL2    CL0  CL2  CL3       CL0
3 -1.62090 -1.01450  ...      CL0     CL0      CL0    CL0  CL0  CL0       CL1
4  0.59042  0.58489  ...      CL0     CL0      CL2    CL0  CL0  CL0       CL0
5 -0.30172  1.30612  ...      CL1     CL0      CL0    CL1  CL0  CL0       CL2

  Nicotine Semer  VSA
1      CL2   CL0  CL0
2      CL4   CL0  CL0
3      CL0   CL0  CL0
4      CL2   CL0  CL0
5      CL2   CL0  CL0

[5 rows x 31 columns]

In [11]:
df.shape

(1885, 31)

In [12]:
df.isnull().sum()
#there are not null values

Age          0
Gender       0
Education    0
Country      0
Ethnicity    0
Nscore       0
Escore       0
Oscore       0
Ascore       0
Cscore       0
Impulsive    0
SS           0
Alcohol      0
Amphet       0
Amyl         0
Benzos       0
Caff         0
Cannabis     0
Choc         0
Coke         0
Crack        0
Ecstasy      0
Heroin       0
Ketamine     0
Legalh       0
LSD          0
Meth         0
Mushrooms    0
Nicotine     0
Semer        0
VSA          0
dtype: int64

In [13]:
df.describe()

,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,SS
count,1885.00000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000
mean,0.03461,-0.000256,-0.003806,0.355542,-0.309577,0.000047,-0.000163,-0.000534,-0.000245,-0.000386,0.007216,-0.003292
std,0.87836,0.482588,0.950078,0.700335,0.166226,0.998106,0.997448,0.996229,0.997440,0.997523,0.954435,0.963701
min,-0.95197,-0.482460,-2.435910,-0.570090,-1.107020,-3.464360,-3.273930,-3.273930,-3.464360,-3.464360,-2.555240,-2.078480
25%,-0.95197,-0.482460,-0.611130,-0.570090,-0.316850,-0.678250,-0.695090,-0.717270,-0.606330,-0.652530,-0.711260,-0.525930
50%,-0.07854,-0.482460,-0.059210,0.960820,-0.316850,0.042570,0.003320,-0.019280,-0.017290,-0.006650,-0.217120,0.079870
75%,0.49788,0.482460,0.454680,0.960820,-0.316850,0.629670,0.637790,0.723300,0.760960,0.584890,0.529750,0.765400
max,2.59171,0.482460,1.984370,0.960820,1.907250,3.273930,3.273930,2.901610,3.464360,3.464360,2.901610,1.921730

In [14]:
df = df.replace({'CL0': 0, 'CL1': 1, 'CL2': 2, 'CL3':3, 'CL4':4,'CL5':5,'CL6':6})

In [15]:
df = pd.DataFrame(df)

csv_file_path = 'C:/Users/tzolz/Desktop/PythonforDA/APP/Data/df.csv'

# Save clean df into a csv file
df.to_csv(csv_file_path, index=False)

print(f'Le fichier CSV a été enregistré avec succès à {csv_file_path}')

Le fichier CSV a été enregistré avec succès à C:/Users/tzolz/Desktop/PythonforDA/APP/Data/df.csv

In [16]:
# Replace all the value of drug by int
# 0 correspond to "Never Used", "Used over a Decade Ago" and 1 correspond to all other classes
df = df.replace({0: 0, 1: 0, 2: 1, 3:1, 4:1,5:1,6:1})
df.head()

,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,0,0,0,0,0,0,0,1,0,0
2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,1,0,1,0,1,1,0,1,0,0
3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,0,0,0,0,0,0,0,0,0,0
4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,0,0,1,0,0,0,0,1,0,0
5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,0,0,0,0,0,0,1,1,0,0

In [17]:
df = pd.DataFrame(df)

csv_file_path = 'C:/Users/tzolz/Desktop/PythonforDA/APP/Data/clean_df.csv'

# Save clean df into a csv file
df.to_csv(csv_file_path, index=False)

print(f'Le fichier CSV a été enregistré avec succès à {csv_file_path}')

Le fichier CSV a été enregistré avec succès à C:/Users/tzolz/Desktop/PythonforDA/APP/Data/clean_df.csv